.list-group-item{
  display:flex;
  justify-content:space-between;
  align-items: center;
}

.list-group-item p {
  margin: 0;
  max-width:70%;
  word-break: break-word;
}

ul {
  margin-top:20px;
  
}

li {
 margin-right:10px; 
}

.btn {
  display:flex;
  gap:5px;
}



